<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.zahra.gap" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Zahra</name>
  <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
  <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <platform name="ios">
    <icon src="resources/ios/icon/icon.png" width="57" height="57"/>
    <icon src="resources/ios/icon/icon-40.png" width="40" height="40"/>
    <icon src="resources/ios/icon/icon-72.png" width="72" height="72"/>
    <icon src="resources/ios/icon/icon-76.png" width="76" height="76"/>
    <icon src="resources/ios/icon/icon-80.png" width="80" height="80"/>
    <icon src="resources/ios/icon/icon-120.png" width="120" height="120"/>
    <icon src="resources/ios/icon/icon-152.png" width="152" height="152"/>
    <icon src="resources/ios/icon/icon~ipad.png" width="72" height="72"/>
    <splash src="resources/ios/splash/launch-768-1024.png" height="768" width="1024"/>
    <splash src="resources/ios/splash/launch-1136.png" height="640" width="1136"/>
    <splash src="resources/ios/splash/launch-1136.png" height="1536" width="2048"/>
    <splash src="resources/ios/splash/launch-ipad.png" height="768" width="1024"/>
    <splash src="resources/ios/splash/launch-ipad-2.png" height="1536" width="2048"/>

  </platform>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
</widget>
