       <ion-view style='background-color:transparent;overflow: visible;margin-top:50px' >
                        <img width="100%" src="img/sections/zahra_logo.png">
  <!-- display when it's iphone and everything else just for testing -->
              <ion-slide-box  on-slide-changed="slideHasChanged($index)">
  <ion-slide style="padding-bottom: 40px" >
      <img  class="col" src="/img/main_screen/s1/education.png">
      <div style="clear: both"></div>
      <img style="float:right" class="col col-50" src="/img/main_screen/s1/store1.png">
      <img  class="col col-50" src="/img/main_screen/s1/gap1.png">
      
      <div style="clear: both"></div>
      <img style="float:right" class="col col-50" src="/img/main_screen/s1/hospitals.png">
      <img  class="col col-50" src="/img/main_screen/s1/donations.png">
      
      <div style="clear: both"></div>
      <img style="float:right" class="col col-50" src="/img/main_screen/s1/about.png">
      <img  class="col col-50" src="/img/main_screen/s1/members.png">    
  </ion-slide>
  <ion-slide>
   
      <a href='#/intro/lamsa'><img style="float:right" class="col col-50" src="/img/main_screen/s2/lamsa.png"></a>
      <img  class="col col-50" src="/img/main_screen/s2/gap2.png">
    
      <img  class="col" src="/img/main_screen/s2/events.png">
      <div style="clear: both"></div>
      <img  class="col" src="/img/main_screen/s2/amal.png">
      <div style="clear: both"></div>
      <img style="float:right" class="col col-50" src="/img/main_screen/s2/contact.png">
      <img  class="col col-50" src="/img/main_screen/s2/app.png">    
  </ion-slide>
</ion-slide-box>
              
              </ion-view>
