<ion-view title="" style='background-color:transparent;overflow: visible;margin-top:40px' >
                        <img class="col col-90 col-offset-10"  src="img/sections/zahra_logo.png">
  <!-- display when it's iphone and everything else just for testing -->
              <ion-slide-box  on-slide-changed="slideHasChanged($index)">
  <ion-slide >
      <a href='#/intro/education'><img  class="col col-offset-10 col-66" src="img/main_screen/s1/education.png"></a>
       <div style="clear: both"></div>
       
       
       <img style="float:left"  class="col col-offset-10 col-33" src="img/main_screen/s1/gap1.png">
        <a href='#/store/main'><img style="float:left" class="col  col-33" src="img/main_screen/s1/store1.png"></a>
      
      <div style="clear: both"></div>
     <a href='#/intro/donations'><img style="float:left"  class="col col-offset-10  col-33" src="img/main_screen/s1/donations.png"></a>
       <a href='#/intro/hospitals'><img style="float:left" class="col col-33" src="img/main_screen/s1/hospitals.png"></a>
      
      <div style="clear: both"></div>
     <a href='#/intro/members'><img style="float:left"  class="col col-offset-10  col-33" src="img/main_screen/s1/members.png"></a>
  <a href='#/intro/about'><img style="float:left" class="col col-33" src="img/main_screen/s1/about.png"></a>
  </ion-slide>
  <ion-slide>
   
      <img style="float:left"  class="col col-offset-10 col-33" src="img/main_screen/s2/gap2.png">
       <a href='#/intro/lamsa'><img style="float:left" class="col col-33" src="img/main_screen/s2/lamsa.png"></a>

   
       <a href='#/events'><img  class="col col-66 col-offset-10" src="img/main_screen/s2/events.png"></a>
      <div style="clear: both"></div>
      <a href='#/intro/amal'><img  class="col col-66 col-offset-10" src="img/main_screen/s2/amal.png"></a>
      <div style="clear: both"></div>
     <img style="float:left"  class="col col-offset-10 col-33" src="img/main_screen/s2/app.png">    
      <img style="float:left" class="col col-33" src="img/main_screen/s2/contact.png">
 
  </ion-slide>
</ion-slide-box>
              </ion-view>
