<ion-view title="{{event.title}}" style='background-color:transparent;overflow: visible'>
  <ion-nav-buttons side="right">
    <div ng-if="nav_text">
      <a class="button button-positive" href='#/booking'>
        {{nav_text}}
      </a>
    </div>
  </ion-nav-buttons>
  <ion-content class="col col-90" style="margin-left:5%" scroll='true' scrollbar-y="false">

    <!-- caresoul -->
    <ul rn-carousel rn-carousel-control class="image">
      <li>
        <div class="item item-image">
          <img height='300px' src="{{event.featured}}">
        </div>
      </li>
    </ul>

    <ul style="text-align:center">
      <li style="background-color: transparent;border:none;font-size:24px" ng-repeat='t in event.tickets'
          class="item item-checkbox">

        <span style="color:white">{{t.ticket_name}}</span>
        <input ng-model="checked[$index]" ng-click="change($index)" ng-change="current = $index" type="checkbox">
      </li>
    </ul>


  </ion-content>
</ion-view>
