<ion-view style='background-color:transparent;overflow:visible'>
  <ion-content>
    <img class="col col-75 col-offset-33" src='assets/images/sections/contact/contact_logo.png'>
    <img width="100%" src="assets/images/sections/contact/contact_text.png">

    <div class="contact-map">
      <a href='' ng-click="show('ahsa')" style="position: absolute;top: 45%;left: 65%;height: 10%;width: 10%;">Ahsa</a>
      <a href='' ng-click="show('riyadh')"
         style="position: absolute;top: 40%;left: 50%;height: 10%;width: 10%;">Riyadh</a>
      <a href='' ng-click="show('madinah')" style="position: absolute;top: 40%;left: 20%;height: 10%;width: 10%;">Madinah</a>
      <a href='' ng-click="show('jeddah')"
         style="position: absolute;top: 60%;left: 20%;height: 10%;width: 10%;">Jeddah</a>
      <a href='' ng-click="show('abha')" style="position: absolute;top: 75%;left: 33%;height: 10%;width: 10%;">Abha</a>

      <img width="100%" src="assets/images/sections/contact/contact_map.png">


    </div>



    <div ng-repeat="region in regions">

      <img style="width: 100%" ng-show="region.show" ng-src="assets/images/sections/contact/iphone/{{region.name}}_text.png" >

    </div>

    <div class="row pull-right">
      <img class="col col-10 pull-right" ng-click="openExternal()" style="margin-right:1%" ng-repeat="s in social" src='{{folder}}{{s}}.png'>
    </div>
  </ion-content>
</ion-view>

