<ion-view style='background-color:transparent;overflow: visible'>


  <ion-content style="margin-top:25px">

    <ion-list>
      <ion-item href="#/hospital/{{hospital.ID}}" class="item-icon-left item-icon-right"
                ng-repeat="hospital in hospitals"
                item="item">

        <h2 style="text-align: right;color:rgb(123, 41, 95)">{{hospital.title}}</h2>

        <p ng-if="hospital.custom_meta.discount[0]" style="text-align:right">{{hospital.custom_meta.discount[0]}}: قيمة
          الخصم </p>

        <p style="text-align: right">{{hospital.custom_meta.excerpt}}</p>
      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
