<ion-view style='background-color:transparent;overflow: visible'>


    <ion-content style="margin-top:25px">
    <!-- add the question input if the type is question -->
    <div style="margin-bottom:10px" ng-if="listType == 'questions'">
        <button ng-click="postQ()"  class="button button-royal col col-25" style="float:left;height:47px;margin-left: 3%" src="img/button_ask.png">
           اسأل
        </button>
        <label  class="item item-input col col-66" style="margin-left: 30%;border-radius: 10px;">
        <input ng-model="shared.question" class="" style="text-align:right" type="text" placeholder="اسأل هنا">
          </label>
    </div>


        <ion-list>
            <ion-item  href="#/{{listType}}/{{item.id}}"   class="item-icon-left item-icon-right"  ng-repeat="item in lists" 
                       item="item">

                <h2 style="text-align: right;color:rgb(123, 41, 95)">{{item.title}}</h2>
                <p ng-if="item.discount" style="text-align:right" >%{{item.discount}}: قيمة الخصم </p>
                <p style="text-align: right">{{item.excerpt}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
