<ion-view style='background-color:transparent;overflow: visible'>

  <ion-nav-buttons side="right">
    <a ng-click="go()">
      متابعة
    </a>
  </ion-nav-buttons>

  <ion-content>
    <form>
      <div style="color:white" class="col col-50 pull-right" ng-repeat='f in forms'>
        <label style="font-size:24px" class="pull-right">{{f.ar}}</label>
        <input class="col col-90 pull-right" style="border-radius:10px" type={{f.type}} required
               placeholder={{f.placeholder}} ng-model="f.value"/>
      </div>
    </form>
  </ion-content>
</ion-view>
