<ion-view style='background-color:transparent;overflow: visible;margin-top:50px'>

    <ion-nav-buttons side="right">

    </ion-nav-buttons>
    <div class="modal">
        <ion-content>

            <form  >

                <!-- NAME -->
                <label  class="item item-input validated" >
                    <input style="text-align:right" type="text" ng-model="forms.first_name" required="required" name="first_name">
                     <span style="text-align:right" class="input-label">الاسم الاول</span>
                </label>
                <label  class="item item-input validated">
                    <input  style="text-align:right" type="text" ng-model="forms.last_name" required="required" name="last_name">
                    <span style="text-align:right" class="input-label">اسم العائلة</span>
                </label>

                <label  class="item item-input" validated>
                    <input  style="text-align:right" type="text" ng-model="forms.address" required="required" name="address">
                    <span style="text-align:right" class="input-label">العنوان</span>
                </label>

                <label  class="item item-input validated">
                    <input  style="text-align:right" type="text" ng-model="forms.city" required="required" name="city">
                    <span style="text-align:right" class="input-label">المدينة</span>
                </label>

                <label  class="item item-input validated">
                    <input  style="text-align:right" type="text" ng-model="forms.region" required="required" name="region">
                    <span style="text-align:right" class="input-label">المنطقة</span>
                </label>

                <label  class="item item-input validated">
                    <input  style="text-align:right" type="text" ng-model="forms.district" required="required" name="district">
                    <span style="text-align:right" class="input-label">الحي</span>
                </label>

                <label  class="item item-input validated">
                    <input  style="text-align:right" type="email" ng-model="forms.email" required="required" name="email">
                    <span style="text-align:right" class="input-label">البريد الالكتروني</span>
                </label>

                <label  class="item item-input validated">
                    <input  style="text-align:right" type="number" ng-model="forms.phone" required="required" name="phone">
                    <span style="text-align:right" class="input-label">رقم الجوال</span>
                </label>

                <button ng-click='submit()' class="button button-block">Submit</button>

            </form>
        </ion-content>
    </div>
</ion-view>