<ion-view style='background-color:transparent;overflow: visible;margin-top:50px'>
     <ion-nav-buttons side="right">
      <button class="button button-positive" ng-click="openModal()">
        سلة المشتريات
      </button>
    </ion-nav-buttons>
    <ion-content scroll='true' scrollbar-y="false">

    </ion-content>
</ion-view>


    <!-- Modal -->   
    <script id="cart.html" type="text/ng-template">
        <div class="modal">
    <ion-header-bar  class="bar-positive">
        <div class="buttons">
        
                  <button class="button button-icon icon ion-close-round" 
        ng-click="closeModal()"></button>


           <!--go back one month --> <h1  class="title header-text"> سلة المشتريات</h1>
            <button class="button button-icon" 
                    ng-click="data.showDelete = !data.showDelete;
                        data.showReorder = false">تعديل</button>

        </div>
    </ion-header-bar>

        <ion-list  show-delete="data.showDelete" canSwipeItems="true">
            <div class="card">
                <div ng-repeat="(type,list) in groups">
                    <div class="item item-divider">
                        {{type}} Expenses
                    </div>

                    <ion-item  class="item-icon-left item-icon-right" ng-repeat="item in list" 
                               item="item"
                                ng-dblclick="edit(item)">

                        <i class="icon {{item.icon}}"></i>

                        <p  style="float: right">
                            {{item.value}}


                        </p>
                        <p style="float: left">
                            {{ item.name}}
                        </p>


                        <ion-delete-button class="ion-minus-circled" 
                                           ng-click="onItemDelete(item)">
                        </ion-delete-button>


                        <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
                    </ion-item>
                </div>
            </div>

        </ion-list>
        </div>
    </script>