<ion-view title="{{product.title}}" style='background-color:transparent;overflow: visible'>

    <ion-nav-buttons side="right">
        <button class="button button-positive" ng-click="openModal()">
            سلة المشتريات
        </button>
    </ion-nav-buttons>
    <ion-content class="col col-90" style="margin-left:5%"  scroll='true' scrollbar-y="false">

        <!-- caresoul -->
        <ul rn-carousel rn-carousel-control class="image">
            <li ng-repeat="img in product.media track by $index"> 
                <div class="item item-image">
                    <img src="{{img}}">
                </div>
            </li>
        </ul>

        <div  style="background-color: transparent;margin-bottom: 20px">
            <div>
                <img class="col col-25" width="90" height="70"   style="float:right"  src="{{pricelb}}">
                <p style="float:right" class="col col-75"><p  style="font-size:16px;color:white;text-align:right" class="icon col col-offset-50"><span style="text-align:right">{{currency}}</span><span style="float:right;margin-left:5px">{{product.custom_meta._wpsc_price}}</span></p></p>

            </div>
            <div style="clear:both"></div>
            <div  >
                <img class="col col-25" width="90" height="70" style="float:right"  src={{desc}}>

                <p style="float:right;text-align:right" class="col col-75"><i  style="font-size:16px;color:white;text-align:right" class="icon">{{product.description}}</i></p>

            </div>

        </div>
        <div style="clear:both"></div>
      
            <img style="float:left" class="col col-33"  width="90" height="70" alt="hello" src="{{button_tweet}}">

            <img style="float:right" class="col col-33" ng-click="addCart()"  width="90" height="70" alt="hello" src="{{button_add}}">

    </ion-content>
</ion-view>



<!-- Modal -->   
<script id="cart.html" type="text/ng-template">
        <div class="modal">
    <ion-header-bar  class="bar-positive">
        <div class="buttons">
        
                  <button class="button button-icon icon ion-close-round" 
        ng-click="closeModal()"></button>


           <!--go back one month --> <h1  class="title header-text"> سلة المشتريات</h1>
            <button class="button button-icon" 
                    ng-click="data.showDelete = !data.showDelete;
                        data.showReorder = false">تعديل</button>

        </div>
    </ion-header-bar>
<ion-content>
        <ion-list show-delete="data.showDelete" canSwipeItems="true">
                    <ion-item  class="item-icon-left item-icon-right" ng-repeat="item in currentCart" 
                               item="item">
              
            <p style="float:right">
            {{item.title}}
</p>

<p style="float:left;margin-right:5px">{{currency}}</p>
            <p style="float:left">
            {{item.custom_meta._wpsc_price}}
</p>

                        <ion-delete-button class="ion-minus-circled" 
                                           ng-click="deleteCart(item)">
                        </ion-delete-button>

                    </ion-item>
            
             <ion-item  class="item-icon-left item-icon-right" item="item">
             <p style="float:left;margin-right:5px">{{currency}}</p> <p style="float:right;font-size:18px">الاجمالي</p>

                         <p style="float:left">
                         {{total.value}}
                            </p>
                    
                                      <i class="icon ion-cash"></i>

             </ion-item>
     
     
                  <ion-item  class="item-icon-left item-icon-right" item="item">
             
             <button class="button button-positive" ng-click="go()" style="float:right" >شراء</button>
     
             </ion-item>
     
     

        </ion-list>
</ion-content>
        </div>
</script>
