<ion-view style='background-color:transparent;overflow: visible;margin-top:50px'>
    <ion-content scroll='true' >
        
<!--       <div deckgrid class="deckgrid repeat-item" source="products">
            <div  class="a-card">
                <a ng-click='mother.go(card.product_id)'><img height='300px' width="100%" style="padding:10px"  src="" data-ng-src="{{card.featured_image}}" alt="{{card.name}}"></a>
                <p style="font-size:18px;color:white;text-align:center">{{card.product_name}}</p>
              
            </div>
        </div>-->

<!--<div masonry column-width="200">
    <div class="masonry-brick" ng-repeat="brick in products">
        <img width="100%" ng-src="{{ brick.featured_image }}" alt="A masonry brick">
    </div>
</div>-->
<div class="photos col col-80 col-offset-25">
            <div   ng-repeat="p in products">
                <a ng-click="go(p.ID)">
                    <img class="photos item"   height="250px" width="100%"  ng-src="{{p.featured}}">
                </a>
                <p style="color:white;text-align:center">{{p.title}}</p>
            </div>
</div>
    </ion-content>
</ion-view>


